.venv/
venv/
архив/
__pycache__/
*.py[cod]
.env
.env.*
!.env.example

*.key
*.p12
*.pfx
id_rsa
id_ed25519
vault-password*
.vault_pass*

*.vdi
*.vmdk
*.vhd
*.vhdx
*.ova
*.sav

.DS_Store
Thumbs.db
.idea/
.vscode/
